link(rel="stylesheet", href="stylesheets/coding.css")

.coding-animation
  .pc
    .pc-box-shade
    .pc-box
      .screen
        .screen-code
        .screen-code
        .screen-code
      .pc-box-stand-stem
      .pc-box-stand-base
  
  .table
    .table-top
      .table-leg-left
      .table-leg-right