html
  head
    title= title
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans|Bitter")
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel="shortcut icon" type="image/png" href="/images/favicon.ico")
  body
    .container
      block header
        include partials/header.pug
      .content
        link(rel='stylesheet', href='/stylesheets/pages.css')
        block content
