extends base

block content
  .content-group
    .centered-container
      h1.header About me

    p.
      I have two years of experience as a software developer in freelance and
      formal team environments.
      I recently graduated in May 2019 from Bob Jones University,
      an academically rigorous private Christian university in Greenville, SC.
    
    p.
      My favorite part of the job is developing with my team and working with my customers to create
      cool &amp; useful applications. I love the process of

      hashing out the client's requirements,
      researching and learning new tech, and
      building an efficient &amp; elegant solution.

    p.
      I am looking for a job in Software Development.
      Ultimately, my goal is to pursue research; I am taking some time
      off for work before I begin graduate school.

    .centered-container
      h1.header Let's talk Languages

    p In my work, I have published applications and features in
    ul
      li #[code SQL],
      li #[code C#/ASP.NET],
      li #[code Python/Django &amp; PyQt], and
      li #[code JS/Knockout].

    p At university and in my independent projects, I have written in
    ul
      li #[code the HTML/CSS/JS stack] - what you're looking at!
      li #[code NodeJS] - this website's backend,
      li #[code C++/C], and
      li #[code Java].

