@import 'base.scss';
@import 'defs.scss';

.content-group {
  max-height: 100%;
}

.content {
  margin-left: $pad-med;
  overflow-y: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  .content-group {
    min-width: 360px;
    max-width: calc(100% - #{$pad-med});
  }

  dl, ul, ol {
    list-style-type: disc;
    list-style-position: inside;
    
    margin-left: $pad-med;
  }

  h1 {
    display: inline-block;
    font-size: $fontsize-big;

    &.header {
      @include extended-border(40px);
    }
  }

  p {
    margin-top: 10px;
  }

  code {
    font-family: $font-code;
    background-color: $brand-gray;
    padding: 1px 2px 1px 2px;
  }
}